<a href="https://colab.research.google.com/github/navi004/cse3041/blob/main/DataScience_Workshop_sep22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [313]:
import numpy as np
import pandas as pd

DataScience
- analysisng the data to get required output
- huge volume of unorganiuzed data is formatted to get some knowledge about the data

In [314]:
print("Welcome to DataSciecne Workshop")

Welcome to DataSciecne Workshop

In [315]:
marks = [90,92,95,98,100]
print(marks)
print(type(marks))

[90, 92, 95, 98, 100]
<class 'list'>

In [316]:
subject = 'Data Science Tools'
words = subject.split()
print(words)

['Data', 'Science', 'Tools']

In [317]:
S = "VIT-Workshop-on-Data-Sciecnce"
words = S.split(sep = '-')[3]
print(words)

Data

In [318]:
student = {'reg':1049,'name':'Naveen Nidadavolu', 'branch':'CSE','cgpa':9.4}
print(student['cgpa'])
print(student['name'].split()[1])

9.4
Nidadavolu

In [319]:
n = int(input("Enter a number :"))
for i in range(2,n):
  if n%i == 0:
    print("Composite")
    break
else:
  print("Prime")

Enter a number :5
Prime

In [320]:
for i in range(1, 10):    #last iteration will be excluded
  if i == 10:
    print("Hello")
    break
else:
  print('Hii')

Hii

In [321]:
L1 = [1, 2, 3, 4, 5]
L2 = [11, 12, 13, 14, 15]
print(list(zip(L1,L2)))

[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15)]

In [322]:
for i,j in zip(L1,L2):
  print(i+j)

12
14
16
18
20

In [323]:
cars = pd.read_csv('/content/cars_data.csv')
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [324]:
cars.columns  #shows the columns in the dataframe

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [325]:
# kaggle.com
#Pre- Processing
#1.Handling the Null values
#2.Remove the invalid data
#3.Remove the outliers
#4. transform

In [326]:
cars.info()  #gives the summary information of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [327]:
cars.isnull().sum()  #gives the number of null values in each column

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [328]:
#Removing the New_Price column from the dataframe cars as it has more number of nullvalues
#Using the drop function
#Row -> axis = 0(default)
#Column -> axis = 1
cars = cars.drop('New_Price',axis = 1)
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [329]:
#Replacing the null value
#cars['Mileage'] is in series with 6019 rows , so we have to convert it into a string before splitting it
cars['Mileage'].str.split()

0       [26.6, km/kg]
1       [19.67, kmpl]
2        [18.2, kmpl]
3       [20.77, kmpl]
4        [15.2, kmpl]
            ...
6014     [28.4, kmpl]
6015     [24.4, kmpl]
6016     [14.0, kmpl]
6017     [18.9, kmpl]
6018    [25.44, kmpl]
Name: Mileage, Length: 6019, dtype: object

In [330]:
#Again we convert each list into string to get the float values
#then we will get the first index from the string
cars['Mileage'] = cars['Mileage'].str.split().str[0]
cars['Mileage']

0        26.6
1       19.67
2        18.2
3       20.77
4        15.2
        ...
6014     28.4
6015     24.4
6016     14.0
6017     18.9
6018    25.44
Name: Mileage, Length: 6019, dtype: object

In [331]:
#Now converting it into numeric
cars['Mileage'] = pd.to_numeric(cars['Mileage'])
cars['Mileage']

0       26.60
1       19.67
2       18.20
3       20.77
4       15.20
        ...
6014    28.40
6015    24.40
6016    14.00
6017    18.90
6018    25.44
Name: Mileage, Length: 6019, dtype: float64

In [332]:
#Filling the null values in Mileage column with mean value
#using the fillna function
#replace() function can also be used
cars['Mileage'] = cars['Mileage'].fillna(round(cars['Mileage'].mean(),2))
cars['Mileage']

0       26.60
1       19.67
2       18.20
3       20.77
4       15.20
        ...
6014    28.40
6015    24.40
6016    14.00
6017    18.90
6018    25.44
Name: Mileage, Length: 6019, dtype: float64

In [333]:
cars.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [334]:
cars['Engine']

0        998 CC
1       1582 CC
2       1199 CC
3       1248 CC
4       1968 CC
         ...
6014    1248 CC
6015    1120 CC
6016    2498 CC
6017     998 CC
6018     936 CC
Name: Engine, Length: 6019, dtype: object

In [335]:
cars['Power']

0       58.16 bhp
1       126.2 bhp
2        88.7 bhp
3       88.76 bhp
4       140.8 bhp
          ...
6014       74 bhp
6015       71 bhp
6016      112 bhp
6017     67.1 bhp
6018     57.6 bhp
Name: Power, Length: 6019, dtype: object

In [336]:
cars['Seats']

0       5.0
1       5.0
2       5.0
3       7.0
4       5.0
       ...
6014    5.0
6015    5.0
6016    8.0
6017    5.0
6018    5.0
Name: Seats, Length: 6019, dtype: float64

In [337]:
cars['Seats'] = cars["Seats"].fillna(round(cars['Seats'].mean(),2))
cars['Seats']

0       5.0
1       5.0
2       5.0
3       7.0
4       5.0
       ...
6014    5.0
6015    5.0
6016    8.0
6017    5.0
6018    5.0
Name: Seats, Length: 6019, dtype: float64

In [338]:
cars.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               36
Power                36
Seats                 0
Price                 0
dtype: int64

In [339]:
cars['Engine'] = cars['Engine'].str.split().str[0]
cars['Engine'] = pd.to_numeric(cars['Engine'])
cars['Engine'] = cars['Engine'].fillna(round(cars['Engine'].mean(),2))
cars['Engine']

0        998.0
1       1582.0
2       1199.0
3       1248.0
4       1968.0
         ...
6014    1248.0
6015    1120.0
6016    2498.0
6017     998.0
6018     936.0
Name: Engine, Length: 6019, dtype: float64

In [340]:
cars['Power']  = cars['Power'].str.split().str[0]
cars['Power'] = cars['Power'].replace("null",0)
cars['Power'] = pd.to_numeric(cars['Power'])
cars['Power']

0        58.16
1       126.20
2        88.70
3        88.76
4       140.80
         ...
6014     74.00
6015     71.00
6016    112.00
6017     67.10
6018     57.60
Name: Power, Length: 6019, dtype: float64

In [341]:
cars['Power'] = cars['Power'].fillna(round(cars['Power'].mean(),2))
cars['Power']

0        58.16
1       126.20
2        88.70
3        88.76
4       140.80
         ...
6014     74.00
6015     71.00
6016    112.00
6017     67.10
6018     57.60
Name: Power, Length: 6019, dtype: float64

In [342]:
cars.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [343]:
cars.select_dtypes (['float64', 'int64']).columns   #Retrieving the columns which have float or integer datatypes

Index(['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats',
       'Price'],
      dtype='object')

In [344]:
numeric_columns = cars.select_dtypes(['float64', 'int64']).columns   #columns with float or integer datatypes
for col in numeric_columns:
  print(col, len(cars[cars[col] == 0]))       #counting and printing the number of 0 values in each column

Year 0
Kilometers_Driven 0
Mileage 68
Engine 0
Power 107
Seats 1
Price 0

In [345]:
cars['Year'] == 0     #using the logical equal operator whether a row in column has 0 value

0       False
1       False
2       False
3       False
4       False
        ...
6014    False
6015    False
6016    False
6017    False
6018    False
Name: Year, Length: 6019, dtype: bool

In [346]:
cars[cars['Year'] == 0]   #Displaying the rows with 0 values in the year column

Empty DataFrame
Columns: [Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, Price]
Index: []

In [347]:
cars[cars['Seats'] == 0]      #Displaying the rows with 0 values in Seats

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
3999,Audi A4 3.2 FSI Tiptronic Quattro,Hyderabad,2012,125000,Petrol,Automatic,First,10.5,3197.0,0.0,0.0,18.0

In [348]:
numeric_columns = cars.select_dtypes(['float64','int64']).columns
for col in numeric_columns:
  cars[col] = cars[col].replace(0, cars[col].mean())      #Replacing the 0 values with mean value of the column using the replace function

In [349]:
for col in numeric_columns:
  print(col, len(cars[cars[col] == 0]))       #Checking

Year 0
Kilometers_Driven 0
Mileage 0
Engine 0
Power 0
Seats 0
Price 0

In [350]:
import plotly.express as px
px.box(data_frame = cars, x = 'Mileage')

#Outliers are the values that lie outside or they are highly deviated from the average

In [351]:
cars[cars['Mileage']>30]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
1269,Maruti Alto 800 2016-2019 CNG LXI,Mumbai,2018,10600,CNG,Manual,First,33.44,796.0,40.30,4.0,3.50
1332,Maruti Wagon R CNG LXI,Pune,2013,79494,CNG,Manual,First,33.54,998.0,67.04,5.0,2.96
2059,Maruti Wagon R CNG LXI,Mumbai,2013,54000,CNG,Manual,First,33.54,998.0,67.04,5.0,3.05
2371,Maruti Wagon R CNG LXI,Pune,2014,29202,CNG,Manual,First,33.54,998.0,67.04,5.0,3.90
2701,Maruti Celerio CNG VXI MT,Kochi,2016,70536,CNG,Manual,First,31.79,998.0,58.33,5.0,4.58
3119,Maruti Alto K10 LXI CNG Optional,Kochi,2018,44202,CNG,Manual,First,32.26,998.0,58.20,4.0,4.00
3129,Maruti Wagon R CNG LXI,Delhi,2014,74663,CNG,Manual,First,33.54,998.0,67.04,5.0,3.25
3553,Maruti Alto 800 2016-2019 CNG LXI,Pune,2015,18000,CNG,Manual,First,33.44,796.0,40.30,4.0,3.00
3869,Maruti Alto 800 2016-2019 CNG LXI,Delhi,2012,65537,CNG,Manual,Second,33.44,796.0,40.30,4.0,2.10
4141,Maruti Wagon R CNG LXI,Mumbai,2014,47200,CNG,Manual,First,33.54,998.0,67.04,5.0,2.85
4769,Maruti Alto 800 2016-2019 CNG LXI,Kochi,2017,24310,CNG,Manual,First,33.44,796.0,40.30,4.0,3.70
5178,Maruti Celerio CNG VXI MT,Delhi,2015,64687,CNG,Manual,First,31.79,998.0,58.33,5.0,3.80
5710,Maruti Alto 800 CNG LXI,Mumbai,2013,26200,CNG,Manual,First,30.46,796.0,47.30,5.0,2.15
5935,Maruti Alto K10 LXI CNG,Pune,2015,59525,CNG,Manual,Second,32.26,998.0,58.20,4.0,3.10

In [352]:
# removing the rows which has mileage greater than 30
cars = cars.drop(cars[cars['Mileage'] > 30].index)

In [353]:
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,2.50

In [354]:
cars['Fuel_Type'].unique() #To find the unique values in the column

array(['CNG', 'Diesel', 'Petrol', 'LPG', 'Electric'], dtype=object)

In [355]:
cars['Fuel_Type'].value_counts()  # to get the number of unique values in the column

Diesel      3205
Petrol      2746
CNG           42
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64

In [356]:
cars[cars['Fuel_Type'] == 'Electric'] #Accessing the electric vehicles on the list

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,18.13,72.0,41.0,5.0,13.00
4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,18.13,1798.0,73.0,5.0,12.75

In [360]:
FT_old = cars['Fuel_Type'].value_counts().index         #Accessing the unique values in a list
FT_new = list(range(len(cars['Fuel_Type'].value_counts().index)))  #Creating new values of Fuel_Type by taking  range of length of unique values as new values in the Fuel_Type column
print(FT_old)   #Printing the old values of the column Fuel_Type
print(FT_new)   # Printing the new values of the Fuel_Type

Index(['Diesel', 'Petrol', 'CNG', 'LPG', 'Electric'], dtype='object')
[0, 1, 2, 3, 4]

In [373]:
T_old = cars['Transmission'].unique()    # Accessing the unique values in the column Transmission
T_new = list(range(len(cars['Transmission'].unique())))   # Creating new values to the Transmission column based on the range of length of the old unique values as new values in Transmission
print(T_old)
print(T_new)

['Manual' 'Automatic']
[0, 1]

In [374]:
#Replacing the old values in Fuel type with new values based on their length of range
cars['Fuel_Type'] = cars['Fuel_Type'].replace(FT_old,FT_new)
cars['Fuel_Type']

0       2
1       0
2       1
3       0
4       0
       ..
6014    0
6015    0
6016    0
6017    1
6018    0
Name: Fuel_Type, Length: 6005, dtype: int64

In [375]:
# Replacing the values of transmission column from old values to new values based on their range of length
cars['Transmission'] = cars['Transmission'].replace(T_old, T_new)

In [376]:
cars['Transmission']

0       0
1       0
2       0
3       0
4       1
       ..
6014    0
6015    0
6016    0
6017    0
6018    0
Name: Transmission, Length: 6005, dtype: int64

In [379]:
Own_old = cars['Owner_Type'].value_counts().index
print(Own_old)
Own_new = list(range(len(cars['Owner_Type'].value_counts().index)))
print(Own_new)

Index(['First', 'Second', 'Third', 'Fourth & Above'], dtype='object')
[0, 1, 2, 3]

In [380]:
cars['Owner_Type'] = cars['Owner_Type'].replace(Own_old, Own_new)

In [381]:
cars['Name'].value_counts()

Mahindra XUV500 W8 2WD           49
Maruti Swift VDI                 45
Honda City 1.5 S MT              34
Maruti Swift Dzire VDI           34
Maruti Swift VDI BSIV            31
                                 ..
Ford Fiesta Titanium 1.5 TDCi     1
Mahindra Scorpio S10 AT 4WD       1
Hyundai i20 1.2 Era               1
Toyota Camry W4 (AT)              1
Mahindra Xylo D4 BSIV             1
Name: Name, Length: 1870, dtype: int64

In [384]:
cars['Brand'] = cars['Name'].str.split().str[0]

In [385]:
cars['Brand']

0          Maruti
1         Hyundai
2           Honda
3          Maruti
4            Audi
          ...
6014       Maruti
6015      Hyundai
6016     Mahindra
6017       Maruti
6018    Chevrolet
Name: Brand, Length: 6005, dtype: object

In [386]:
cars['Model'] = cars['Name'].str.split().str[1]
cars['Model']

0        Wagon
1        Creta
2         Jazz
3       Ertiga
4           A4
         ...
6014     Swift
6015     Xcent
6016      Xylo
6017     Wagon
6018      Beat
Name: Model, Length: 6005, dtype: object

In [394]:
cars = cars.drop('Name',axis = 1)

In [389]:
cars['Brand'].value_counts()

Maruti           1197
Hyundai          1107
Honda             608
Toyota            411
Mercedes-Benz     318
Volkswagen        315
Ford              300
Mahindra          272
BMW               267
Audi              236
Tata              186
Skoda             173
Renault           145
Chevrolet         121
Nissan             91
Land               60
Jaguar             40
Fiat               28
Mitsubishi         27
Mini               26
Volvo              21
Porsche            18
Jeep               15
Datsun             13
Force               3
ISUZU               2
Smart               1
Ambassador          1
Isuzu               1
Bentley             1
Lamborghini         1
Name: Brand, dtype: int64

In [391]:
Bran_old = cars['Brand'].value_counts().index
Bran_new = list(range(len(cars['Brand'].value_counts().index)))

In [392]:
cars['Brand'] = cars['Brand'].replace(Bran_old, Bran_new)
cars['Brand']

0        0
1        1
2        2
3        0
4        9
        ..
6014     0
6015     1
6016     7
6017     0
6018    13
Name: Brand, Length: 6005, dtype: int64

In [398]:
model_old = cars['Model'].value_counts().index
model_new = list(range(len(cars['Model'].value_counts().index)))
cars['Model'] = cars['Model'].replace(model_old, model_new)
cars['Model']

0        8
1       17
2       34
3       22
4       20
        ..
6014     0
6015    33
6016    70
6017     8
6018    40
Name: Model, Length: 6005, dtype: int64

In [400]:
loc_old = cars['Location'].value_counts().index
loc_new = list(range(len(cars['Location'].value_counts().index)))
cars['Location'] = cars['Location'].replace(loc_old, loc_new)
cars['Location']

0       0
1       4
2       7
3       7
4       3
       ..
6014    5
6015    8
6016    8
6017    6
6018    1
Name: Location, Length: 6005, dtype: int64

In [401]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6005 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           6005 non-null   int64
 1   Year               6005 non-null   int64
 2   Kilometers_Driven  6005 non-null   int64
 3   Fuel_Type          6005 non-null   int64
 4   Transmission       6005 non-null   int64
 5   Owner_Type         6005 non-null   int64
 6   Mileage            6005 non-null   float64
 7   Engine             6005 non-null   float64
 8   Power              6005 non-null   float64
 9   Seats              6005 non-null   float64
 10  Price              6005 non-null   float64
 11  Brand              6005 non-null   int64
 12  Model              6005 non-null   int64
dtypes: float64(5), int64(8)
memory usage: 656.8 KB

In [406]:
# Correlation - relationship between two variables
cars.corr()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand,Model
Location,1.000000,-0.126172,0.053027,-0.059313,-0.081459,0.131622,0.041131,-0.026762,-0.047400,-0.000200,-0.067310,-0.027438,-0.027805
Year,-0.126172,1.000000,-0.172906,-0.124060,0.097805,-0.397242,0.292133,-0.050623,0.016456,0.013102,0.306127,0.002557,-0.032493
Kilometers_Driven,0.053027,-0.172906,1.000000,-0.099034,-0.025855,0.085249,-0.064219,0.090798,0.032926,0.083890,-0.011654,0.023011,-0.001894
Fuel_Type,-0.059313,-0.124060,-0.099034,1.000000,-0.142285,0.043490,-0.098995,-0.421618,-0.291554,-0.294297,-0.313250,-0.278195,-0.076596
Transmission,-0.081459,0.097805,-0.025855,-0.142285,1.000000,-0.009001,-0.358866,0.498401,0.638779,-0.075232,0.585693,0.278850,0.188959
Owner_Type,0.131622,-0.397242,0.085249,0.043490,-0.009001,1.000000,-0.151736,0.050249,0.024397,0.013761,-0.097787,0.036550,0.057178
Mileage,0.041131,0.292133,-0.064219,-0.098995,-0.358866,-0.151736,1.000000,-0.640660,-0.548210,-0.343721,-0.330352,-0.252299,-0.194064
Engine,-0.026762,-0.050623,0.090798,-0.421618,0.498401,0.050249,-0.640660,1.000000,0.858853,0.396019,0.656898,0.363251,0.251962
Power,-0.047400,0.016456,0.032926,-0.291554,0.638779,0.024397,-0.548210,0.858853,1.000000,0.098571,0.767688,0.366310,0.260856
Seats,-0.000200,0.013102,0.083890,-0.294297,-0.075232,0.013761,-0.343721,0.396019,0.098571,1.000000,0.052078,0.017227,0.007791
Price,-0.067310,0.306127,-0.011654,-0.313250,0.585693,-0.097787,-0.330352,0.656898,0.767688,0.052078,1.000000,0.327967,0.244072
Brand,-0.027438,0.002557,0.023011,-0.278195,0.278850,0.036550,-0.252299,0.363251,0.366310,0.017227,0.327967,1.000000,0.499343
Model,-0.027805,-0.032493,-0.001894,-0.076596,0.188959,0.057178,-0.194064,0.251962,0.260856,0.007791,0.244072,0.499343,1.000000

In [410]:
# the line which connnects most of the dots - best straight line
X = cars.drop('Price',axis = 1)
y = cars['Price']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [411]:
X_train.shape

(4503, 12)

In [412]:
X_test.shape

(1502, 12)

In [414]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [415]:
lr.fit(X_train, y_train)  # fit is used to train the data

LinearRegression()

In [ ]:
lr.score

In [416]:
lr.coef_

array([ 5.22647786e-02,  9.85047522e-01,  1.78921943e-06, -1.52238700e+00,
        3.08868769e+00, -2.17942125e-01, -4.63465988e-02,  2.14302749e-03,
        1.14091164e-01, -9.12278067e-01,  4.73832118e-03,  1.46696595e-02])

In [417]:
lr.intercept_

-1985.4598086982132

In [419]:
print(*lr.predict(X_test)) # Predictions for the test data

-3.385840737344097 16.996608789525453 2.475857221757906 0.6288662993486014 15.258685117712503 2.4741190718941652 3.8236885755068215 11.867835900500495 3.823114008003813 6.438931516588582 2.3481165564901403 22.650480981608098 -6.389438128973097 3.425133760929157 6.807573925035513 14.543330560981303 1.2753072938694459 13.223206778342046 3.3138690530645363 16.045316803974856 -0.8154485665395441 1.4457505433101687 1.05871703906314 7.607335865994173 10.465722687285506 4.627010928481013 25.567998576016635 1.74240351449248 9.25214518422058 11.648468292622965 -0.22060477707896098 -6.995270739977059 2.079141203788595 11.32616421277612 3.3747824131919515 -1.9729571825989751 14.290761932099485 34.687955365725884 12.31683358295777 8.933912488387477 3.1944915664412292 2.609588928513176 -1.1618082782090369 9.81339959182651 0.6713444822394194 13.31235201585946 6.7928442776906195 14.633319509237026 8.15500085610529 4.814941861651732 4.434177440854455 1.4828588694663267 13.226549924537721 -6.552040487287513 4.849396921465086 -4.03815471965936 -0.19845776757256317 3.485181122825452 16.440617244684518 6.410897206975733 0.7812902722091621 24.530856301579433 9.206422615702422 3.6847779718818856 6.762406183446956 7.819657736942645 11.219622289788049 13.08998302441887 13.745776164912513 22.07318310507935 16.045426410621758 3.51284955140909 4.1034252595661656 8.219349002085892 5.2813103747334935 8.844203603873211 10.804526647460534 4.843058197890514 20.21696825421418 6.399050054456438 6.36246616662811 10.201143752118469 18.999397554871393 34.386315101783566 21.09433551158054 5.398635217173933 10.583263227569205 16.366882548879403 6.8003495729244605 32.77410695149456 18.845935781548405 12.14424429384826 2.685042101114277 0.4199663272561338 8.059265258724508 7.279355522204014 6.970368659316819 24.252244675472866 4.279857683657156 29.042405861604948 4.176386230703656 1.7547826996024014 12.802425418374924 63.03142199113563 4.714058826591327 16.08362123907 -4.896310308044576 10.818336532433932 9.65925986081379 0.7444303469740134 3.302344674873666 -1.9886654166850803 -3.1888812651725402 5.494524831162835 6.9324624613857395 5.998332571046376 20.72340449873036 5.380550303275413 -4.234628125595918 6.832156063603634 10.945473378098768 9.867657268009225 12.47323545689187 0.2239068266619597 21.81679644847668 0.9545351395013313 6.589849744929552 12.516358097624106 5.537997896644129 6.308781767187384 6.929486553551669 2.4258350481034086 23.508014507723146 12.393903366765244 21.511780638740447 6.443973460144889 3.3219395354233257 0.7709116002256451 17.283890014213966 4.71128863794911 33.252752930980705 21.068281278357517 9.775344965860086 17.011337902099058 2.104264479399717 15.466587229209154 7.18801965421585 6.750748009027575 38.2725821609522 5.326537180873402 6.998416174385966 21.987082463002253 9.530235791906534 21.073085824435793 3.2127097108932503 6.209369782879548 -0.9405491324205286 -0.3387416890473105 9.834449524365255 5.611904561798838 3.8975447088769215 1.4503132773406833 18.204184451616356 -2.293484017505307 17.998332626073307 43.30029129611535 3.827735924100125 6.819061098696011 16.3519385231491 8.527773857494822 4.8616734083927895 5.374739230796877 8.547264254042375 4.71069640108044 13.018450286801908 7.31813082688177 11.94250539509676 2.883023199686022 19.210823642370542 18.23770025098588 0.198881758698235 -1.4269187386239537 6.072294566487244 4.239183003626522 4.703174894514632 0.3882132725232168 9.26363952407246 -4.8177959241011195 4.461472032642405 9.004146107402676 1.527020247810242 7.940218139179933 3.456363978016043 1.58806475938718 13.736076354496163 5.348737914706362 8.886787220400947 9.343502507878611 1.3635610697506308 -4.0161784203548905 -1.2086084081261106 7.702942193979425 23.21227548304887 9.616348916884135 16.97263980146795 12.176469886691848 4.489423528533962 0.5411197919972892 5.78091074410986 -1.3227237960743423 3.976315281428242 6.501939976338463 10.65880345011692 6.964965073008898 6.067576817962163 7.873906327978602 -3.648513348633969 21.516341020399523 5.889581433276817 -1.632295920128172 9.759400550239434 6.766768569891838 5.777940059950197 1.402435465757435 18.08862149880656 12.441987019200951 21.94221336662781 5.186833823042662 2.1096434000919544 7.922537624302322 18.5472432379172 4.773170044468316 2.74085095564692 10.267612007415892 -1.8115402909611475 32.594299004445475 28.841771049188765 3.360778189382245 -2.016417526899886 6.815254548791017 22.801057896433804 7.199728733127131 21.63686674528776 8.464406722227295 9.245785665903895 0.11955929494888551 9.253431024693327 7.686775739147379 4.492481303720524 25.773594418948505 6.743930575662944 5.771893661173408 0.15176524472576602 8.422186615403461 -2.5281934317636114 2.742489392602465 7.749537043194778 8.331001492086898 22.677880123995237 -0.9895715353181913 9.710058864937764 29.390163790495762 1.99794342700352 6.225017580676877 32.990924192220746 9.165716152426057 7.232937044247592 8.08585796493685 5.968935560359796 2.6277785116876657 5.069048981692504 31.247794405779587 5.171096428231522 -0.21468331804294394 7.969774604063105 21.190431623898803 7.048930262601516 7.829125403064154 0.15822708149767095 54.74087182299172 -0.9814642458386516 1.2632168001578066 3.7386334767868448 4.519014742945728 0.5684409846146536 6.138646130074676 6.641774147332626 7.3223166119125835 6.408909533102133 6.1132479608859285 -4.80903742161172 4.800917032947382 17.659631819722563 5.090999872365501 -1.148204470371411 7.151594114547834 5.799750075422708 7.3832669323041955 8.712748668121776 7.580928152226534 7.955052265654331 0.3480392177527847 8.287104391901266 -3.9057044822884563 7.540166061471609 31.18706954487061 4.258464760796414 7.23002139121013 20.569738587716984 17.06467896400909 -0.03872266653775114 3.087917902343861 1.0612781799334243 13.978094351276468 11.693404808602736 5.28090345002488 1.9760457620707257 -2.7368653237770104 18.4176649015601 6.492480649672643 7.081395776302088 22.817736285947376 1.8910457676506667 19.956916386166995 9.729288009893708 4.3771104592897245 21.80710081952634 15.058617224925456 26.8518152398849 2.5567231745837944 3.828849218722098 2.4168617249656563 9.72053693765156 25.332977643020058 3.1930983308116083 4.441263828196725 23.52014944224561 1.4265520825510976 -0.9048784629396778 7.203482230789405 3.7461213491037597 3.0130481722924287 23.154532818316284 6.221672407338247 30.35277243572159 16.76421162542647 22.216018399809172 5.4649516426866285 9.09880622548917 19.503666200631187 6.879316875114455 3.796755932631413 12.740519019069325 5.685687313205335 7.2213041565319145 9.193283792548073 10.394899405034721 5.480105165050645 15.783566645500969 5.883873340950231 4.375701323550857 13.4207254738767 -2.7102571326852285 27.07252288623681 23.417102586390683 -0.9000002729746939 7.358037601886281 8.821035645180928 8.602412104854238 6.24570745474557 3.5885970450563036 6.796169027109499 18.72760656122864 5.452583258905406 5.52186398787012 2.9692702825523156 1.643100055388686 -0.537446982519441 -0.3179411911837633 7.007684634224461 6.140166122216897 25.36006282821586 53.87265387077491 3.992319453785285 7.027462124055091 7.428810868684195 1.847177346035096 19.67586570211529 8.536623950512649 7.770553851215482 -0.34108151336636183 9.326659190365717 1.2288671042799706 19.26298363546516 4.572544939836234 8.664070884151897 2.1356963259468102 20.462910353882535 10.875935657491482 12.115815706278681 5.614451052560526 -2.266340048580787 2.5502100302207964 5.868020341027659 4.163165220877772 3.6247984131787234 11.35037534121966 22.482108010467982 0.28123752162855453 16.774910268343092 9.102503828690033 7.720846366637261 2.075340583658999 13.774175909225733 18.49673410883247 4.880133151868222 6.963396737923404 0.9768710838814059 3.9171878988836397 6.934749655868245 -3.355245213281023 5.181841812837092 7.207271275201947 4.572504080315866 0.9154472305679064 5.448674673458754 16.665090961423402 13.16422326814336 14.24986650484584 26.590303442388176 18.73017999625381 6.713274250508448 -1.2959750453030665 17.035459249500718 25.78188451737833 5.778227427009597 27.073430195968285 5.064597284532056 7.357285683893906 26.500259887900256 24.4340491650496 13.062188981163445 2.6841169149070083 7.926977264963853 16.859534528323366 2.3102866968047238 22.95211193896307 7.855670215917144 3.102245287600226 7.119682694132052 13.092563350941418 6.165462238919417 5.498516073238079 -1.2532209649400556 13.907610195995858 1.626089125916451 10.23228511338516 19.58540180004229 -1.4715873572010878 -2.41013695411516 -4.1816282195486565 10.10178146072144 4.0581342535529075 -1.1268419183613787 15.213642134736574 6.27017554520944 5.576959162918001 16.39980255648061 6.0316257631222925 14.10996055103783 8.375094726513453 21.97820891065794 2.410188005938835 11.14537169883397 20.88002952525403 21.967265743941425 7.036374335548771 5.797392402834021 6.221761343169419 10.607297085496839 2.218256033578882 -3.8087092179287083 7.508674477646991 9.301232703288179 -5.699384487886391 -3.195453783580888 9.271425702548868 -0.5420253023487476 3.780451550234602 19.799125575565313 5.1392387082105415 24.78884525078297 -3.1762214659167967 68.21408501311635 -1.8382146251351514 1.3355015570693922 7.017968676583905 28.5792897471581 3.2787074072282394 13.139138870816396 20.51168528241942 2.424184981897497 2.5155332795527556 7.247252029875426 7.626221596929781 6.0128860998142954 1.2495808810003837 12.527504050942753 -4.476434308330454 11.682770474617428 -1.9622602489616838 7.435991426822284 -9.81024454146268 38.782917587397606 5.509736495891275 6.0773872267620845 10.606384955000749 0.19674799770905338 0.1325590830620058 8.626297297839983 22.69296109811944 26.75448984058562 9.899505728313898 9.85186718033583 -2.8548810227182457 2.982013479612533 0.42052966019446103 3.61793013855322 10.619321228840818 3.6566779259155737 6.428595332254872 9.359615409606477 15.336131370557268 6.565163476812131 16.705272529187596 6.063288602550756 22.838035242662045 -8.20028639111979 3.344525008190658 9.838004858588192 2.551372279875295 20.91244178762122 -0.45475836451532814 0.24806546812919805 21.486490357702905 7.186354539344393 5.801069745949462 7.2017247334640615 13.601497660209134 0.7649681803884505 6.242222732200844 8.399883624729682 -2.1997211441871514 -0.3871227214724513 3.7276857902352276 11.835497190592378 10.05593698796838 22.29152963264164 3.392797034220166 13.942332781554114 30.221370531453886 10.265975421613803 21.758681763296636 2.0596469012034504 -3.0982773489761257 28.777798281551895 17.63008651876021 25.733678521115735 8.545564428505031 2.7670957018603985 2.2851427961259105 72.79905449131138 6.545749190030847 5.020295841496363 -0.8541643479563845 2.831308747923913 25.200665889363336 6.877862843530011 0.44063317422933324 -4.917966072312993 1.7698031849329254 5.030644982282865 5.326006020251725 -6.207119362376943 6.004836743959004 5.889911457813696 8.321541635699532 16.710903441512755 26.76248605421506 5.683178587569955 20.75216142518866 7.68202910777768 4.320371711225334 18.795307259230412 -11.710278698343018 21.116560974822733 23.34773194125023 18.863920067077288 -4.471575382128776 -1.292977767549928 14.364155751969975 6.990254702350512 8.329036639893275 5.934793645054697 6.3010253003178605 14.386256900841772 -0.07425199377144054 22.412150701148676 5.948713955664061 8.474216632667776 9.171272766675656 7.350263179222338 14.630338286195865 16.84247468759463 13.292519982423983 2.701473835729985 6.568793906671999 18.142371113149466 2.174536201346882 1.0385722632634042 17.725894405351028 18.82229851390298 6.980434697046121 -8.157405958211257 20.297106199611562 30.52513581536209 24.412381039595402 17.1556917464834 8.801421956086415 21.15736507520819 12.243993837193102 14.388935362331722 5.4137367161115435 21.831343984883233 23.03229043329975 11.85040521452197 10.687280639234132 21.145188485735616 4.720710574598115 1.5329947862442168 34.99572191704442 1.6699650052328252 5.349176273467265 13.557714147176512 48.842272515447576 17.432185766451312 -0.5355001006162183 -3.0976304565833743 10.826812136732997 10.250982470540748 6.202883490112299 6.487301372239244 -0.701569575174517 10.301354922333303 15.167378668896617 -1.2010747232959602 1.7164108031065552 21.048203959144075 11.34743278480778 0.11924496582537358 6.670710590581621 22.34994157516394 -3.491676333373107 13.637777934519818 5.464860378759795 9.488173745110998 25.366208815531763 8.255510805755875 5.573746310481056 -2.7936806515340322 9.239735158239682 29.202717880018554 20.988394150060458 19.788696850694578 4.6206918210625645 6.239659552729336 13.996880214508565 -5.844572499556534 0.8527941014510816 9.931016601686224 24.73180684879094 7.991236462912411 8.920432114243795 4.578196180603072 5.457915294917257 23.161216052872078 -1.45079447492094 -1.6824226974056273 12.127783058054092 3.3173738691466497 13.559855768317448 8.891187522915516 21.803522380662343 34.28029493689883 -0.8849140218201228 11.035909763066229 4.444344592290008 4.771329452672035 5.588280000398072 6.443973460144889 9.235360516728406 1.1624011808178238 2.951526747037633 0.24193850543178996 5.9105725971624 -0.33480047625903353 9.43094828645917 10.39535330630838 8.019690867519557 6.22986537579618 -0.3690133750269524 2.92550042956168 -2.5906944453195138 5.468973331008783 9.755909700112625 6.042519453654904 12.860296419599763 10.213261663708408 12.501010088165685 1.367105262979976 7.351282852699342 24.773428072834122 0.9900601312124309 20.746357607436494 -1.321808721921343 -2.04244374110408 11.278528766863701 18.89161626091004 9.218637864204993 -0.5257563052593923 7.36773114693824 -5.473403254851291 7.978496492523391 6.061559249894799 5.588621391167862 21.516818657187514 17.544341581027084 -1.7957649877801032 5.5625900805275705 12.068980068662768 13.068888338541456 -10.5032094243129 10.177548289407241 1.2408766747851132 -3.0793463915524626 24.16006772044193 27.4208935618733 5.202796734048206 3.832864561409906 3.7544519167011003 2.9202368053827286 8.263371789297025 4.03000067191806 13.131970908932544 10.816991680178944 11.664242795406608 3.115126941815106 4.440248555029029 6.459419997042232 13.34162622622216 20.246023496391217 43.68075186415763 7.160199977582124 0.002716349364618509 8.418800008099652 9.079271638001273 18.0225900522978 22.499430763781902 5.825949566090685 12.586988793134879 8.301725631475165 20.519438395910583 12.689218189035273 28.767424626638558 23.30610071404385 2.3753862474413836 0.3800129468168052 4.7259654036681695 8.742544540158633 2.3500839402474867 -2.2494421565425 9.632221207473776 24.493062029806197 14.401919017303044 4.698196929728283 16.218923323150648 11.31158968743739 3.7163042681015668 29.104134803322495 18.20207200957907 9.730424164233 5.944623483827172 17.990475411855414 3.573359414472634 19.426732679018414 21.640952873006654 2.6525793580301524 8.492036990649694 1.9126617130561954 9.200722494261981 23.24258187524447 6.835730107730342 4.278736961622371 8.29739440355138 30.888663289802707 7.594887643397897 10.941377554510836 37.37132321212016 22.25035800939486 8.064279087760724 2.468305358715952 26.473792809652878 12.979252682688866 16.288943520152543 21.669546831090656 4.193087796700638 24.49995049646691 -11.320938007401537 5.627200990728397 5.619717608327392 4.349805509991938 35.23897652143137 10.321237619785961 21.223777426102743 1.7966654406056932 3.6027566264713187 14.063712726585436 25.229142291846074 23.13897498235042 5.235351325497959 20.29232294352164 2.5226749771702544 7.044568399482614 11.243090725122784 23.835019344484863 10.372942395213158 -3.3408532362693677 22.585707815340356 2.2507848667007693 10.283989976201156 22.517866811419253 -1.1113704852177761 9.769378209128263 29.56642571285397 25.157626954211082 16.76660049631505 10.259974141415341 5.3910200325369715 6.79704371544176 8.616715764094351 -2.822049381657962 19.36575518337031 8.021110428651127 6.430276242644368 3.0087550048738194 1.6407672320392521 10.601728798902059 11.070575640060724 6.651510036951095 17.08424132895516 19.203931576115338 4.796624922003048 2.75271851732532 8.704845516060459 4.596505515176659 2.471958811903505 15.888584879257223 4.882120453697553 7.845897549296296 -7.190538694776933 14.153593752298775 7.290718545194977 0.6313403618371467 2.636459705983725 8.199483936283968 8.036057964564407 8.822668598872724 11.006627101731738 34.52973195105028 14.974448815410824 4.599073045061687 24.59068402431126 0.9676215577953826 39.99799786713629 13.871781806846002 1.8685923105429083 31.27818778051369 6.666793045796794 18.947170432461235 12.828781286666754 13.241375684021932 6.958598953349792 7.936817971840128 13.627575865243898 5.472702921147402 3.4605847728507797 5.192971695042843 7.7551087394820115 7.372899958696962 1.6820508933953988 -1.421395528508583 34.59042688606269 5.784504539856243 12.177063569086613 10.83006553403743 4.304027994982107 4.244689577982626 -0.396051803898672 4.907823216158249 12.112167628235284 3.7406797917803942 7.528446617047166 13.028687946807622 19.892471577753895 8.710607467467526 16.16995140889503 11.978434307075304 0.1864840354912758 6.393343291462315 13.477996511809124 23.055901588925963 12.380171107624392 15.481402857356898 3.9047873058182176 25.246143337248213 31.582853691815444 12.368019737910345 5.626424367353366 5.27332120832466 18.667992517974426 12.185231745316514 4.508279426353283 21.734132073666387 24.29381911029941 0.37363279891701495 10.323620840697913 6.6588461951769204 8.906120934706905 8.268884795194026 3.2965818962845788 6.4755509432043254 4.868238512408425 2.6145859551968442 4.369247509705701 3.453015393797159 8.972362632243403 -0.5216151079985138 14.15491217235467 3.723425436218122 -3.613307666515084 21.205971630190334 -0.1297994467870467 9.294338511394244 -1.8719697593046476 5.850908444452216 6.658126855408682 17.9810385889557 1.2185875490235958 7.15189930866859 6.653383751765887 7.471731046585774 -1.4076771701445523 5.579609504410882 6.586505074707475 18.989985978745153 2.7479273110645863 7.284862263335526 6.692384835114353 6.047538401148358 -0.8940695769783815 17.948941462469065 17.610209805979366 6.579994403886303 18.424990782085388 4.793119841135649 3.7707324868767955 48.988805678540075 8.093954857187782 13.606707867195382 55.515058266330016 8.375878464382822 -5.0686847449085235 22.80032968412479 7.0614476417481455 6.775520897964725 10.527975242676575 36.209376244959 3.6221674210883066 17.56362639604231 32.52755120870961 13.512408160867608 40.53971524376857 6.400880598802814 -0.3318414002328609 7.222416992867011 33.84382741790455 6.663092580374496 1.9714619797271098 11.51328663976733 14.954325269229003 13.394552041006818 13.040183389965932 3.8974429555444203 14.090591231067947 7.215277346839002 24.12698459998228 4.774288733099866 5.437115317356984 5.5363925658730295 20.079058626531605 3.269776733784056 2.760511841365087 1.3801576730463694 3.6143257063081364 13.313683981101576 10.964582738370154 14.174149776157947 -5.469318336699644 5.936625900789295 5.257709237948347 4.944955240560603 3.648570334711394 7.7400858725700346 11.572965854867107 11.643101136570067 15.548414212886428 13.57070769440702 4.759660648520139 4.715888113687242 3.23135673527122 23.84920397217661 8.70689061577491 -0.643589626898347 7.64787925024234 6.67702346463102 4.845790789522198 1.6997838296342707 5.067024349755684 15.484807350970186 20.623307049979303 13.512034370330412 12.098388714922294 3.3550056028946074 0.292638502620548 12.250448499614777 16.05604152288106 1.0049155170440827 6.248166317188634 6.625256613963302 7.833688906000361 7.587367351204875 18.404672213556296 11.491869632309545 -1.8904657417581348 26.705081657333267 9.179923009919548 8.121699414456543 5.634940224581214 5.045123882814778 8.939828389967943 5.244721374762321 7.2706653358502535 7.946035342272808 4.195827566527214 -2.668422886375083 6.237440873412652 -3.3127098309803387 10.30201422683649 9.113358702191817 5.372118539103894 -9.24296475491542 31.165874341206745 6.117419732771168 13.917784010052173 12.381292015068311 7.3785318043851476 2.246845167959009 -1.2319739595852752 6.885333757928265 13.991942376881525 4.7696482341934825 1

In [420]:
from  sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()

In [423]:
dtr.fit(X_train, y_train)

DecisionTreeRegressor()