In [1]:
import numpy as np

# Pandas in Python

* Pandas is a python package for data analysis 
* Pandal Data System and Python and data analysis
* It is built on top of numpy

data structures of Pandas
 - series      1D homogenous array,size immutable
 - Data Frames 2D labeled ,size mutable tabular structure with potentially heterogeneous--excel and csv
 - Panel       3D

## Pandas Series

#Syntax : pandas.Series(data,index,dtype,copy)

sereis can be created with 
arrays
Dictionary

In [2]:
import pandas as pd

Creating Series from an array

In [4]:
data = np.array([10,20,30,40,50,60])
ser = pd.Series(data)
print(ser)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

Creating a series from a list

In [6]:
l = ['a','e','i','o']
ser = pd.Series(l)
print(ser)

0    a
1    e
2    i
3    o
dtype: object

In [8]:
#To set index for the series 
subj = ["Maths","Science","Social","Science"]
marks = [100,98,87,89]
pd.Series(marks,index = subj)

Maths      100
Science     98
Social      87
Science     89
dtype: int64

In [10]:
#Create a series from a dictionary
sub_marks = {"Maths":100,"Science":98,"Social":87,"Science":89}
pd.Series(sub_marks)

Maths      100
Science     89
Social      87
dtype: int64

In [12]:
#Series with missing values
subj = ["Maths","Science","Social","Language"]
mark_series = pd.Series(sub_marks,index = subj)
mark_series

Maths       100.0
Science      89.0
Social       87.0
Language      NaN
dtype: float64

### Operations in series

In [13]:
#Extracting subjects above 90
mark_series > 90

Maths        True
Science     False
Social      False
Language    False
dtype: bool

In [14]:
#Extracting subjects above 90
mark_series[mark_series>90]

Maths    100.0
dtype: float64

#### Sort

mark_series.sort_values()

In [15]:
#To sort

mark_series.sort_values(ascending=False)

Maths       100.0
Science      89.0
Social       87.0
Language      NaN
dtype: float64

#### Rank

mark_series.rank()

In [16]:
#Ranking values
#mark_series.rank()
mark_series.rank(ascending = False)

Maths       1.0
Science     2.0
Social      3.0
Language    NaN
dtype: float64

> ** BASIC Statistics
<br>mark_series.sum()
<br>mark_series.mean()
<br>mark_series.median()
<br>mark_series.std()  - standard deviation
<br>mark_series.max()
<br>mark_series.idxmax() - to return max and index
<br>mark_series.min()
<br>mark_series.idxmin()
<br>mark_series.count()

In [30]:
mark_series.sum()

276.0

In [20]:
mark_series.mean()

92.0

In [21]:
mark_series.median()

89.0

In [22]:
mark_series.std()

7.0

In [23]:
mark_series.max()

100.0

In [25]:
mark_series.idxmax()

'Maths'

In [27]:
mark_series.min()

87.0

In [28]:
mark_series.idxmin()

'Social'

In [29]:
mark_series.count()

3

#### Summary

In [31]:
#Summary Statistics
mark_series.describe()

count      3.0
mean      92.0
std        7.0
min       87.0
25%       88.0
50%       89.0
75%       94.5
max      100.0
dtype: float64

<b>count

In [32]:
mark_series.value_counts()

100.0    1
89.0     1
87.0     1
dtype: int64

In [33]:
mark_series.dropna()

Maths      100.0
Science     89.0
Social      87.0
dtype: float64

#### Accessing index

In [34]:
mark_series.iloc[2]

87.0

In [35]:
mark_series.loc["Social"]

87.0

In [36]:
mark_series[2]

87.0

<b>Slicing

In [37]:
mark_series[:2]

Maths      100.0
Science     89.0
dtype: float64

## Data Frame

<b> A dataframe is a two dimensional data structure, i.e, data is aligned in a tabular fashion in rows and columns

> * Potentially columns are different data types
> * <br> Size -- Mutables
> * <br> Labeled axes (rows and columns)
> * <br> Can Perform Arithmetic operations on rows and columns

#### Syntax
pd.Series(data,index,dtype,copy)
<br>pd.Series

In [38]:
#Creating an Empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [39]:
#Append Columns to an empty DataFrame
df['Name'] = ['Ankir','Anitha','Yash']
df['Age'] = [19,18,20]
df['Gender'] = ['M','F','M']
df

     Name  Age Gender
0   Ankir   19      M
1  Anitha   18      F
2    Yash   20      M