# JSON File JavaScript Object Notation

In [2]:
# To work with JSON import json module
import json

### json.loads() method converts json into dictionary
* **json.loads() method can be used to parse a valid JSON string and convert it into a Python Dictionary**

In [4]:
#JSON exists as a string
p = '{"name":"Ram", "contact":"[98764523, 97866442]"}'
d = json.loads(p)
print(d)
print(type(d))

{'name': 'Ram', 'contact': '[98764523, 97866442]'}
<class 'dict'>

### To read file containing Json object

In [7]:
# To read a file containing json object
f = open('fruit.json','r+')
data = json.load(f)
print(data)
print(type(data))

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}
<class 'dict'>

### To convert dic to json

In [11]:
# to cinvert dic to json
dF = json.dumps(d)
dF

'{"name": "Ram", "contact": "[98764523, 97866442]"}'

In [12]:
print(type(dF))

<class 'str'>

# sampledata.json

In [19]:
file1 = open('sampledata.json','r+')
data = json.load(file1)
df2 = pd.DataFrame(data)
df2

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [16]:
df1 = pd.read_json('sampledata.json')
df1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

### DataFrame to json file
* --Orient--
* **table**
* **records**
* **index**
* **values**
* **columns**

In [21]:
data1 = {'Product':['Computer', 'Printer', 'Monitor', 'Tablet', 'Keyboard'], 'Price':[1200, 200, 500, 350, 80]}
df3 = pd.DataFrame(data1)
df3

    Product  Price
0  Computer   1200
1   Printer    200
2   Monitor    500
3    Tablet    350
4  Keyboard     80

In [24]:
df.to_json('sampledata_exported.json')